@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>

<img src="~/img/JoelHiltonHeadshot.jpg" height="150"/>

<br /><br />

<div>
    <a asp-controller="Home" asp-action="Podcast">Podcast Link</a>
</div>

<br />

<div>
    <a asp-controller="Home" asp-action="MovieInput">Fill Out A Movie</a>
</div>