@{
    ViewData["Title"] = "Podcasts";
}

<div class="deleteMessage">
    <h1>Check out Joel's Sick Podcast</h1>
    <div class="click-me">
        <a class="btn" href="https://baconsale.com/">Click me</a>
    </div>
</div>

